
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
    //Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h1>Index</h1>

@section Scripts {
    <div> Section </div>
    <script src="~/Js/site.js"></script>
}

